.faq-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    box-sizing: border-box;
}

.faq-container {
    background-color: #fff;
    padding: 5% 10%;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: auto;
}

.faq-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}

.faq-container p {
    color: #666;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: #f0f0f0;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    padding: 10px;
    text-align: left;
}

.contact {
    margin-top: 20px;
    text-align: center; 
}

.contact-button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #5300d6;
}
